@import 'config';

// CUSTOM USER STYLES & IMPORTS

.header {
    &__navbar {
        padding-top: 54px;        
    }

    &__logo {
        @include f-align-items-center;
    }

    &__menu {
        @include f-justify-align-content-center;
        flex-wrap: wrap;

        &-item {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }

        &-link {
            color: #E5E5E5;
            font-size: 12px;
            line-height: 14px;
            &:hover {
                text-decoration: none;
                color: #E5E5E5;
            }

            &--gray {
                color: #808080;
            }
        }
        
    }
}

.main {
    text-align: center;
    padding-top: 120px;

    &__title {
        font-family: $roboto;
        font-weight: 400;
        font-size: 64px;
        line-height: 75px;
        margin-bottom: 26px;
    }

    &__description {
        font-family: $roboto;
        font-size: 16px;
        max-width: 268px;
        margin: 0 auto;
        &::after {
            display: block;
            content: '';
            height: 59px;
            width: 1px;
            margin: auto;
            margin-top: 26px;
            background-color:#fff;
        }
    }
}

.video {
    height: 750px;
}

.features {
    &__overview {
        position: relative;
    }

    &__title {
        font-family: $roboto;
        font-weight: 700;
        font-size: 24px;
        line-height: 33.6px;
        text-transform: uppercase;
        margin-bottom: 45px;
    }

    &__table {
        margin-bottom: 218px;
    }

    &__table-column {
        width: 300px;
        padding-bottom: 11px;
    }

    &__table-color {
        color: #B2B0B2;
    }

    &__description {
        @include Roboto;
        font-size: 16px;
        line-height: 29px;
        max-width: 490px;
    }

    &__falcon-heavy {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 100px;
        max-width: 300px;
    }
}

.footer {
    @include f-justify-align-content-center;
    color: #fff;
    flex-direction: column;
    margin-top: 507px;

    &__nav-list {
        margin: 43px 0 28px;
        @include f-justify-align-content-center;
    }

    &__nav-item {
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    &__nav-link {
        @include Roboto;
        font-size: 18px;
        color: #fff;
        line-height: 21px;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    &__contact {
        @include Roboto;
        font-size: 18px;
        line-height: 21px;
        color:#808080;  
        text-align: center;      
    }

    &__email {
        @include Roboto;
        font-size: 18px;
        line-height: 21px;
        color:#808080;
        &:hover {
            text-decoration: none;
            color: #808080;
        }
    }

    &__button {
        margin-top: 30px;
        width: 100%;
        max-width: 260px;
        height: 60px;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 6px;
        background-color: black;
        &:focus {
            outline: none;
            cursor: pointer;
        }
    }

    &__btn {
        @include Roboto;
        @include f-justify-align-content-center;
        font-size: 18px;
        line-height: 21px;
        color: #fff;
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
}

@media (orientation: landscape) and (max-width: 768px) {
    .features__falcon-heavy {
        display: none;
    }
}

@media (max-width: 992px) {
    .features__falcon-heavy {
        max-width: 200px;
    }
}

@media (max-width: 768px) {
    .features__table-column {
        width: 250px;
    }

    .features__wrap {
        margin-top: 200px;
    }

    .footer {
        margin-top: 250px;
    }
}

@media (max-width: 576px) {
    .header__logo {
        justify-content: center;
        margin-bottom: 20px;
    }

    .header__menu {
        margin-right: 20px;
    }

    .features__falcon-heavy {
        position: relative;
        max-width: 100px;
    }

    .features__table {
        margin-bottom: 0;
    }
}

@media (max-width: 375px) {
    .footer__nav-list {
        flex-wrap: wrap;
    }
}
    
    


